.register {

    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://images.pexels.com/photos/704767/pexels-photo-704767.jpeg?cs=srgb&dl=pexels-sevenstorm-juhaszimrus-704767.jpg&fm=jpg');
    background-size: cover;

}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm>label {
    margin: 10px 0;
}

.registerInput {

    padding: 10px;
    background-color: white;
    border: none;

}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}